{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.checkout_done_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_payment.template.checkout_done_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>{{ 'vs_payment.template.checkout_done_subtitle' | trans( {},'VSPaymentBundle' ) }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12"
                                id="PaymentDoneMessage"
                                data-routeRedirectOnShoppingCartDone="{{ routeRedirectOnShoppingCartDone }}"
                                data-routeRedirectOnPricingPlanDone="{{ routeRedirectOnPricingPlanDone }}"
                                data-hasPricingPlan="{{ hasPricingPlan }}"
                            >
                                {#    {{ dump( paymentStatus ) }}   #}
                                {{ 'vs_payment.template.checkout_done_message' | trans( {},'VSPaymentBundle' ) }} <a href="{{ path('app_home') }}">home</a>.
                            </div>
                         </div>
                     </div>
                     <div class="card-footer"></div>
                 </div>         
            </div>
        </div>
    </div>
{% endblock %}
