<div class="well well-small">
	<h4>
		{{ 'vs_catalog.template.featured_products' | trans( {},'VSCatalogBundle' ) }} 
		<small class="pull-right">{{ ( featuredProducts | length ) }}+ {{ 'vs_catalog.template.featured_products' | trans( {},'VSCatalogBundle' ) | lower }} </small>
	</h4>
	
	<div class="row-fluid">
		<div id="featured" class="carousel slide">
			<div class="carousel-inner">
			
                {% for productsBlock in featuredProducts | batch( 4 ) %}
    				<div class="item {% if loop.first %}active{% endif %}">
    					<ul class="thumbnails">
                            {% for product in productsBlock %}
                                {% if product.pictures.first %}
                                    {% set productPicture = path( 'vs_cms_images_filesystem_get_file', { file: picturesPath ~ '/' ~ product.pictures.first.path } ) %}
                                {% else %}
                                    {% set productPicture = '/build/bootstrap-shop-theme/images/products/6.jpg' %}
                                {% endif %}
                                
        						<li class="span3">
        							<div class="thumbnail">
        								<i class="tag"></i> 
        								<a href="{{ path( 'vs_catalog_catalog_product_show', {'categorySlug': 'latest', 'productSlug': product.slug} ) }}">
        								    <img src="{{ productPicture }}" alt="{{ product.name }}">
        								</a>
        								<div class="caption">
        									<h5>{{ product.name }}</h5>
        									<h4>
        										<a class="btn" href="{{ path( 'vs_catalog_catalog_product_show', {'categorySlug': 'latest', 'productSlug': product.slug} ) }}">
        										  {{ 'vs_catalog.template.view' | trans( {},'VSCatalogBundle' ) }}
        										</a> 
        										<span class="pull-right">{{ product.price | number_format( 2 ) }} {{ product.currencyCode | vs_currency_symbol }}</span>
        									</h4>
        								</div>
        							</div>
        						</li>
    						{% endfor %}
    					</ul>
    				</div>
    			{% endfor %}
				
			</div>
			
			<a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
			<a class="right carousel-control" href="#featured" data-slide="next">›</a>
		</div>
	</div>
</div>