{% extends "base.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
    <h3 style="text-transform: uppercase;">{{ 'vs_users.template.profile_show_tab_change_password' | trans( {},'VSUsersBundle' ) }}</h3>
    <hr class="soft"/>
    
    <div class="row">
        <div class="span9" style="min-height:900px">
            <div class="well">
                {{ form_start(form, { 'attr': {'class': 'login-form '} }) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}" />
                    
                    <div class="control-group">
                        {{ form_label(form.password.first, null, {
                            'label_attr': {'class': 'control-label'}
                            }) 
                        }}
                        <div class="controls">
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.password.first.vars.label|trans}}) }}
                        </div>
                    </div>
                    
                    <div class="control-group">
                        {{ form_label(form.password.second, null, {
                            'label_attr': {'class': 'control-label'}
                            }) 
                        }}
                        <div class="controls">
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-lg', 'placeholder': form.password.second.vars.label|trans}}) }}
                        </div>
                    </div>
                    
                    <div class="controls">
                        {{ form_widget(form.btnSave, {'attr': {'class': 'btn block'}}) }}
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

