{% extends "base.html.twig" %}

{% block content %}
	<h3 style="text-transform: uppercase;">{{ 'vs_users.template.forgot_password_header_title' | trans( {},'VSUsersBundle' ) }}</h3>
    <hr class="soft"/>
    
    <div class="row">
        <div class="span9" style="min-height:900px">
            <div class="well">
                <h5>{{ 'vs_users.template.forgot_password_header_subtitle' | trans( {},'VSUsersBundle' ) }}</h5><br/>
                {{ 'vs_users.template.forgot_password_header_description' | trans( {},'VSUsersBundle' ) }}
                <br/><br/><br/>
                
                {{ form_start(form, { 'attr': {'class': 'login-form '} }) }}
                    <div class="control-group">
                        {{ form_label(form.email, null, {
                            'label_attr': {'class': 'control-label'}
                            }) 
                        }}
                        <div class="controls">
                            {{ form_widget(form.email, {'attr': {'class': 'span3', 'autocomplete': 'off', 'placeholder': form.email.vars.label|trans }}) }}
                        </div>
                    </div>
                    <div class="controls">
                        {{ form_widget(form.btnSubmit, {'attr': {'class': 'btn block'}}) }}
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}


