{% extends "base.html.twig" %}

{% block content %}
    <h3>{{ 'vs_application.menu.pricing_plans' | trans( {},'VSApplicationBundle' ) }}</h3>   
    <hr class="soft" />

    <div class="span6">
        
        {% for cat in pricingPlanCategories %}
            {% if cat.plans.count() %}
                <!-- pricing -->
                <div class="section pricingPlanCategorySection">
                    <div class="container">
                        <div class="row">
                            <!-- section title -->
                            <div class="col-12">
                                <h4 class="section__title">{{ cat.name }}</h4>
                            </div>
                            <hr class="soft" />
                            <!-- end section title -->
                            
                            <ul class="thumbnails">
                                {% for plan in cat.plans %}
                                    {% if plan.enabled %}
                                        {% if
                                            app.user and
                                            ( app.user.paidSubscriptions | length ) and
                                            ( app.user.paidSubscriptions | last ).payedService == plan.paidServicePeriod
                                        %}
                                            {% set planActive = true %}
                                        {% else %}
                                            {% set planActive = false %}
                                        {% endif %}
                                        
                                        
                                        <li class="span3">
                                            <div
                                                class="thumbnail {% if planActive %} plan--active{% endif %}{% if plan.premium %} plan--premium{% endif %}"
                                            >
                                                <div class="caption">
                                                    <h5>{{ plan.title }}</h5>
                                                    <p>{{ plan.description | raw }}</p>
                                                    <p>{{ plan.price }} {{ plan.currencyCode }}</p>
                                                    <h4 style="text-align:center">
                                                        {% if app.user %}
                                                            {% if planActive %}
                                                                <button type="button" class="btn">
                                                                    <span>{{ 'vs_payment.template.pricing_plans.current_plan' | trans( {},'VSPaymentBundle' ) }}</span>
                                                                </button> 
                                                            {% else %}
                                                                <button type="button"
                                                                    class="btn btn-primary btnChoosePlan"
                                                                    data-url="{{ path( 'vs_payment_select_pricing_plan_form', {'pricingPlanId': plan.id} ) }}"
                                                                >
                                                                    <span>{{ 'vs_payment.template.pricing_plans.choose_plan' | trans( {},'VSPaymentBundle' ) }}</span>
                                                                </button>
                                                            {% endif %}
                                                        {% else %}
                                                            <a class="btn btn-primary"
                                                                href="{{ path( 'vs_users_register_form' ) }}"
                                                            >
                                                                <span>{{ 'vs_users.form.registration.register' | trans( {},'VSUsersBundle' ) }}</span>
                                                            </a> 
                                                        {% endif %}
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                <hr class="soft"/>
                        </div>
                    </div>
                </div>
                <!-- end pricing -->
            {% endif %}
        {% endfor %}
        
    </div>
{% endblock %}

{% block widgets %}
    {% include '@VSPayment/Pages/PricingPlansCheckout/plan-modal.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/pricing-plans', null, 'BootstrapShopTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <div id="RealPaymentFormContainer" style="display: none;">
        {% include '@VSPayment/Pages/CreditCard/Partial/StripeJsV2Form.html.twig' with {
             'formAction': '',
             'formMethod': 'POST'
        } %}
    </div>
    
    {{ encore_entry_script_tags( 'js/pricing-plans', null, 'BootstrapShopTheme' ) }}
{% endblock %}
