{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_payment.template.checkout_payment_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_payment.template.checkout_payment_title' | trans( {},'VSPaymentBundle' ) }}{% endblock %}

{% block content %}
    <h3>{{ 'vs_payment.template.checkout_payment_title' | trans( {},'VSPaymentBundle' ) }}</h3>
    
    {{ form_start(form, { 'action': path( 'vs_payment_handle_payment_methods_form' ), 'attr': {'class': 'form-horizontal span6', 'id': 'vs_payment_payment_form'} }) }}
        {{ form_widget(form.paymentDescription, {'value': paymentDescription}) }}

        <div class="card">
            <div class="card-body form-group">
                {% for child in form.paymentMethod %}
                    {% if child.vars.name != 'setRecurringPayments' %}
                        <div class="custom-control custom-radio row">
                            <div class="">{{ form_widget( child, {'attr': {'class': 'form-check-input me-2 mb-2'}} ) }}</div>
                            <div class="">{{ form_label( child, null, {'label_attr': {'class': 'form-check-label'}} ) }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-success float-right" type="submit"
                    name="{{ form.btnContinue.vars.full_name }}"
                    id="{{ form.btnContinue.vars.id }}"
                >
                    <i class="mdi mdi-gamepad-circle"></i> {{ form.btnContinue.vars.label }}
                </button>
            </div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
            
{% endblock content %}
